.grid__box_layout {
    width: 100%;
    display: grid;
    grid-template-columns: 75% auto;
    grid-template-rows: 100%;
}

.grid__box_screen {
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
}

.grid__box_levels {
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
}
