.column__group {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .column__group {
        flex-flow: column wrap;
        justify-content: space-around;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .column__group {
        flex-flow: column wrap;
        justify-content: space-around;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .column__group {
        flex-flow: column wrap;
        justify-content: space-around;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .column__group {
        justify-content: space-evenly;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .column__group {
        justify-content: space-evenly;
    }
}
