.div__grid_layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10% auto 10%;
}

.div__grid_item {
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column-start: 2;
    grid-column-end: 3;
}

/*
 * Custom, iPhone Retina
 * Extra Small Devices, Phones
 */
@media only screen and (min-width: 320px) {
    .div__grid_layout {
        height: 45%;
        grid-template-columns: 7.5% auto 7.5%;
    }

    .div__grid_item {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .div__grid_layout {
        height: 50%;
    }

    .div__grid_item {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

/*
 * Medium Devices, Desktops
 */
@media only screen and (min-width: 768px) {
    .div__grid_layout {
        height: 50%;
    }

    .div__grid_item {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) {
    .div__grid_layout {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 10% auto 10%;
    }

    .div__grid_item {
        grid-row-start: 1;
        grid-row-end: auto;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}
