.column {
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .column {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .column {
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .column {
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .column {
        text-align: inherit;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .column {
        text-align: inherit;
    }
}
