.column {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .column {
        height: 50%;
        flex-flow: column wrap;
        justify-content: center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .column {
        height: 50%;
        flex-flow: column wrap;
        justify-content: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .column {
        height: 50%;
        flex-flow: column wrap;
        justify-content: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .column {
        width: 50%;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .column {
        width: 50%;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
}
