.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

#div__container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    left: 0;
    top: 0;
    margin: 0 auto;
    background: linear-gradient(to right bottom, #ffffff 50%, #fff3eb 50%);
}

#div__container_centrify {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#title__primary {
    /* Desktop / Headline */
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 7vmin;

    /* or 65px */
    display: flex;
    align-items: center;

    /* Black-100 */
    color: #1c1c21;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 64px 0;
}

#button__primary {
    /* Button / Primary / Desktop / Inactive */
    position: static;
    width: 300px;
    height: 64px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 64px 0px;

    /* Orange-100 */
    background: #ff8b37;
    border-radius: 12px;
}

#button__primary_text {
    height: 23px;

    /* Desktop / Button */
    font-family: Inter monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;

    align-items: center;
    text-align: center;

    /* White-100 */
    color: #ffffff;
}

#img__primary {
    width: 100%;
    height: auto;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .row {
        flex-flow: row wrap;
    }

    #title__primary {
        font-size: 10vmin;
        text-align: center;
    }

    #button__primary {
        width: 240px;
        height: 44px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .row {
        flex-flow: row wrap;
    }

    #title__primary {
        font-size: 7vmin;
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .row {
        flex-flow: row wrap;
    }

    #title__primary {
        font-size: 7vmin;
        text-align: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .row {
        flex-flow: row nowrap;
    }

    #title__primary {
        font-size: 7vmin;
        text-align: left;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .row {
        flex-flow: row nowrap;
    }

    #title__primary {
        font-size: 7vmin;
        text-align: left;
    }
}
