.div__flex_screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*
 * Wrapper of Play Component.
 * Meant for navbar and child component manipulations.
 */

.div__grid {
    width: 100%;
    display: grid;
}

@media screen and (min-width: 320px) {
    .div__grid {
        grid-template-rows: 10% auto;
        grid-template-columns: auto;
    }

    .div__grid_item_header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: auto;
    }

    .div__grid_item_body {
        display: flex;
        align-items: center;
        grid-row-start: 2;
        grid-row-end: auto;
        grid-column-start: 1;
        grid-column-end: auto;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 760px) {
    .div__grid {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .div__grid_item_header {
        display: none;
    }

    .div__grid_item_body {
        grid-row-start: 1;
        grid-row-end: auto;
        grid-column-start: 1;
        grid-column-end: auto;
    }
}
